html {
  font-size: 15px;
}

.container {
  padding: 1.5rem;
}

.header {
}
.accordion {
}

.accordion__item {
  transition: 0.4s;
}

@media (min-width: 961px) {
  .accordion__wrapper:hover .accordion__item-title {
    color: #181818;
  }
  .accordion__item:hover label {
    max-height: 3rem;
    overflow: visible;
  }
  .accordion__item:hover label .accordion__item-icon  {
    transform: rotate(45deg);
  }
}

.accordion__label {
}

.accordion__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__item-title {
  color: blue;
  transition: 0.4s;
}

.accordion__item-icon {
}
.accordion__item-content {
}

input {
  display: none;
}

label {
  display: block;
  max-height: 2rem;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
}

label .accordion__item-icon  {
  transition: 0.4s;
}

input:checked ~ label {
  max-height: 3rem;
  overflow: visible;
}
input:checked ~ label .accordion__item-title {
  color: #181818;
}
input:checked ~ label .accordion__item-icon  {
  transform: rotate(45deg);
}
